.tagsContainer {
    position: absolute;
    width: 160px;
    height: 144px;
    left: 16px;
    top: 312px;

    .tagHeader {
        display: flex;
        justify-content: space-between;

        h5 {
            width: 120px;
            height: 24px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #4B84F4;
        }

        .plusIcon {
            width: 24px;
            height: 24px;
            border: 1px solid #4B84F4;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;


        }

    }

    .tagList {
        ul {
            list-style: none;

            li {
                display: inline-flex;

                .tagColor {
                    margin: 5px;
                    width: 16px;
                    height: 16px;

                    background: #E37DAC;
                    border-radius: 4px;
                }

                .tagTitle {
                    width: 100px;
                    margin: 5px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

        }
    }
}