.tagsContainer {
    position: absolute;
    width: 320px;


    .tagHeader {
        display: flex;
        justify-content: space-between;
        margin: 15px;

        h5 {
            width: 120px;
            height: 24px;
            margin: 4px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            color: #4B84F4;
        }

        .plusIcon {
            width: 24px;
            height: 24px;
            border: 1px solid #4B84F4;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;


        }
        .iconBtn{
            width: fit-content;
            height: fit-content;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            margin: 0 5px;
            cursor: pointer;
            outline: inherit;
        }

    }

    .tagList {
        ul {
            list-style: none;

            .tagBtn{
                width: fit-content;
                height: fit-content;
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                margin: 0 5px;
                cursor: pointer;
                outline: inherit;
            }

            li {
                display: inline-flex;

                .tagColor {
                    margin-left: 15px;
                    margin-bottom: 15px;
                    width: 16px;
                    height: 16px;

                    border-radius: 4px;
                }

                .tagTitle {
                    width: 300px;
                    margin-left: 15px;
                    margin-bottom: 15px;
                    display: flex;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 16px;
                }
            }

        }
    }
}