* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


//   left side
.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: rgb(190, 123, 123);
}

// right side
.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(52, 82, 148, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        margin: 20px;
        font-family: 'Noto Serif Malayalam', serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    img {
        display: block;
    }

}